{% extends "index.html" %}

{% block page_title %} {% endblock %}

{% block content %}
    <p>
        {% block item %}{% endblock %}
    </p>

    <form {% block action %}{% endblock %} method="POST">
        <label for="comment_message">{% block label %}{% endblock %}</label><br>
        <textarea id="comment_message"  rows="7" type="text" maxlength="500" name="comment_message"
                  placeholder="Write your comment:" required="required">{% block message %}{% endblock %}</textarea><br>
        <input type="hidden" {% block hidden %}{% endblock %} ><br>
        <button class="forward" type="submit">&rarr; Submit</button>
    </form>

{% endblock %}
