{% extends "index.html" %}

{% block page_title %}
    Question List
{% endblock %}
{% block content %}
<div>
    <table border="1">
        <thead>
            <tr>
                {% for i in range(headers|length) %}
                    <th>
                        {{ headers[i] }}
                        <a href="{{ url_for("question_page", order_by=story_keys[i], order_direction="asc") }}">&#8679</a>
                        <a href="{{ url_for("question_page", order_by=story_keys[i], order_direction="desc") }}">&#8681</a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for key in story_keys %}
                        <td>
                            {% if key == "message" %}
                                {{ question[key][0:50] }}
                            {% elif key == "title" %}
                                <a href="{{url_for("display_question", question_id=question["id"]) }}">{{question[key]}}</a>
                            {% else %}
                                {{ question[key] }}
                            {% endif %}

                        </td>
                    {% endfor %}
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
    <div>
    <a href="{{url_for("add_question_get") }}"><button type="button" class="forward">&rarr; Add Question</button></a>
    </div>
{% endblock %}