{% extends "index.html" %}

{% block page_title %}
    Registration
{% endblock %}
{% block content %}
    {% if ver == 'exist' %}
        <div>An Account with this email address already exists.</div>
    {% endif %}
<form name="login" action="{{ url_for('registration_user_post') }}" method="post">
    <label for="email">Email:</label>
    <input class="underline" name="email" type="text">
    <label for="password">Password:</label>
    <input class="underline" id="password" name="password" type="password" required>
    <label for="confirm_password">Confirm Password:</label>
    <input class="underline" id="confirm_password" name="confirm_password" type="password" required>
    <button type="submit" class="forward">&rarr; Sign Up</button>
<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="special" class="invalid">A <b>special character</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  <p id="match" class="invalid">Password match</p>
</div>
</form>
<script>


var confirm_password = document.getElementById("confirm_password")
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var special = document.getElementById("special")
var match = document.getElementById("match")

// When the user clicks on the password field, show the message box


// When the user starts to type something inside the password field
myInput.onkeyup = function() {
    // Validate lowercase letters
    var lowerCaseLetters = /[a-z]/g;
    if (myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
    } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
    }

    // Validate capital letters
    var upperCaseLetters = /[A-Z]/g;
    if (myInput.value.match(upperCaseLetters)) {
        capital.classList.remove("invalid");
        capital.classList.add("valid");
    } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
    }

    // Validate numbers
    var numbers = /[0-9]/g;
    if (myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
    } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
    }

    // Validate length
    if (myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
    } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
    }

    var specials = /[!@#$%^&*]/g;
    if (myInput.value.match(specials)) {
        special.classList.remove("invalid");
        special.classList.add("valid");
    } else {
        special.classList.remove("valid");
        special.classList.add("invalid");
    }
}
confirm_password.onkeyup  = function() {
  if(myInput.value == confirm_password.value) {
      match.classList.remove("invalid");
      match.classList.add("valid")
  } else {
      match.classList.remove("valid");
      match.classList.add("invalid")
  }
}
</script>
{% endblock %}